body {
    margin: 0;
    font-family: 'Atkinson Hyperlegible Mono', monospace;
    text-align: center;
    background-color: black;
    color: white;
}



.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
#passwords {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#Ps1, #Ps2 {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content;
    background-color: #f9f9f9;
    color: black;
}
h1, h2 {
    text-align: center;
}
p {
    text-align: center;
    font-size: 18px;
}
/* slider section */
.slider {
  -webkit-appearance: none;
  height: 8px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  background: #50fa7b;  /* Default */
}

.slider-red::-webkit-slider-thumb { background: red; }
.slider-orange::-webkit-slider-thumb { background: #FFA500; }
.slider-green::-webkit-slider-thumb { background: #50fa7b; }
